# Server
PORT=5000
NODE_ENV=development

# Database (Supabase PostgreSQL)
DATABASE_URL=postgresql://postgres:stockpulse_finance@db.rbmshgnjotwfygliehua.supabase.co:5432/postgres

# JWT
JWT_SECRET = 316f1348bdea8357aaee22b8fe74ad96c4d1182f4b0d2d8588cf0ce20391ce899e64a3783df43040afccdd0583a58bf101971f40c04865e425d11a88c7a32b56
JWT_EXPIRES_IN=7d

# Cookie
COOKIE_DOMAIN=localhost

# Twelve Data API
TWELVE_DATA_API_KEY=80e0e3f48ca545358c9093569b75f909

# CORS - Frontend URL
CLIENT_URL=http://localhost:5173

# Email (for password reset) - use Gmail App Password or Mailtrap for dev
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SMTP_FROM=noreply@stockpulse.com
